<!-- http://api.tvmaze.com/search/shows?q=girls -->
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>tvmaze</h1>
    <form id="searchForm">
        <input type="text" placeholder="TV Show Title" name="query">
        <button>Search</button>
    </form>
    <script>
        const form = document.querySelector('#searchForm');
        form.addEventListener('submit', async function(e){
            e.preventDefault();
            console.log('SUBMITTED')
            console.dir(form)
            console.log(form.elements.query.value)
            const searchTerm = form.elements.query.value;
            const config = { params: {q:searchTerm}}
            const res = await axios.get(`http://api.tvmaze.com/search/shows`, config);
            console.log(res.data)
            makeImages(res.data)
            form.elements.query.value = '';
        })
        const makeImages = (shows) => {
            for (let result of shows){
                if(result.show.image){
                    //console.log(res.data[0].show.image.medium);
                    const img = document.createElement('IMG');
                    img.src = result.show.image.medium;
                    document.body.append(img);
                }
            }
        }
    </script> 
</body>
