<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-signin-client_id" content="signup-309512
    .apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Signup</title>
</head>
<body>
    <h1>{{web_info.signin_t}}</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
             <h3 style="color:rgb(218, 88, 13);">{{msg}}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block signup %}
        <form action="signup" method="post">
            <h3>註冊帳號</h3>
            <div>
                <label for="">暱稱</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="">帳號</label>
                <input type="text" name="username">
            </div>
            <div>
                <label for="">密碼</label>
                <input type="password" name="password">
            </div>
            <div>
                <label for="">確認密碼</label>
                <input type="password" name="password2">
            </div>
            <div>
                <input type="submit" name="submit" value="註冊帳號">
            </div>
        </form>
        <hr />
    {% endblock %}
    
    {% block signin %}
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <form action="/signin" method="POST">
            
        <h3>登入系統</h3>
        <div>
            <label for="username">帳號</label>
            <input name="username" type="text" />
        </div>
        <div>
            <label for="password">密碼</label>
            <input name="password" type="password" / >  
        </div>
        <button>登入</button>
    </form>
    {% endblock %} 
</body>
</html>

