<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<h1>{{web_info.member_t}}</h1>
{% if g.name == '您' %}
    <h3> <a href = "/"> 登入系統/首頁 </a></h3>
{% else %}
    <h3> <a href = "/"> 回首頁 </a></h3>
    <h3> 恭喜{{g.name}}！成功登入 </h3>
    {#}
    <button id="get_user_btn">查詢會員姓名</button>
    {#}
    
    <form id="get_form" action="/api/users" method="get">
        <div>
            <label for="">查詢會員姓名</label>
            <input id="search_name" type="text" name="username">
        </div>
        <div>
            <input type="submit" name="submit" value="查詢">
        </div>
        <h3 id="show_name"></h3>
    </form>
    {#}
    <form action="/api/users" method="get">
        <div>
            <label for="">JSON查詢</label>
            <input id="search_api_btn" type="text" name="username">
        </div>
        <div>
            <input type="submit" name="submit" value="查詢JSON">
        </div>
        <div id="user"></div>
    </form>
    {#}
    {#}
    <form id="post_form" action="/api/users" method="post">
        <div>
            <label for="">post查詢</label>
            <input type="text" name="username">
        </div>
        <div>
            <input type="submit" name="submit" value="查詢">
        </div>
    </form>
    {#}
    
    <script src="../static/js/axios.js"></script>
    
    <script src="../static/js/xhr.js"></script>
    
    {#}
    <script src="../static/js/fetch.js"></script>
    {#}
    <h3>{{answer}}</h3>
    <h3> <a href = "/signout"> 登出系統 </a></h3>
{% endif %}
