<h1>{{web_info.member_t}}</h1>
{% if g.name == '您' %}
    <h3> <a href = "/"> 登入系統/首頁 </a></h3>
{% else %}
    <h3> 恭喜{{g.name}}！成功登入 </h3>
    <form action="/api/users" method="get">
        <div>
            <label for="">JSON查詢</label>
            <input id="search_api_btn" type="text" name="username">
        </div>
        <div>
            <input type="submit" name="submit" value="查詢JSON">
        </div>
    </form>

    <form id="get_form" action="/api/users" method="get">
        <div>
            <label for="">查詢會員姓名</label>
            <input id="search_name" type="text" name="username">
        </div>
        <div>
            <input type="submit" name="submit" value="查詢">
        </div>
        {#}
        {% if answer % }
            <h1> {{answer}} </h1 >
        {% else %}
            <h1>查無此人</h1>
        {% endif %}
        {#}
        {#}
        <h1 id="search_api"></h1>
        <div>
            <input type="submit" name="submit" value="查詢">
        </div>
        {#}
        <script src="../static/js/api.js"></script>
        
    </form>
    <h3>{{answer}}</h3>
    <h3> <a href = "/signout"> 登出系統 </a></h3>
{% endif %}
